<IfModule mod_rewrite.c>
	RewriteEngine on
   
	RewriteCond %{ENV:REDIRECT_STATUS} 100
	RewriteRule .* - [L]
	
	RewriteRule    ^$ app/webroot/    [L]
	RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>